@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
  box-sizing:border-box;
}

body{
  background-color:#242333;
  display:flex;
  color:white;
  align-items: center;
  justify-content: center;
  height:100vh;
  padding:0px;
  margin:0px;
  flex-direction:column;
  font-family: 'Lato', sans-serif;
}

.movie-container{
  margin: 20px 0;
}

.movie-container select{
  background-color:white;
  border:0;
  border-radius:5px;
  font-size:14px;
  margin-left:10px;
  padding:5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance:none;
  appearance:none;
}

.seat{
  background-color:#444451;
  height:12px;
  width:15px;
  margin:3px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}

.seat:nth-of-type(2){
  margin-right:18px;
}

.seat:nth-last-of-type(2){
  margin-left:18px;
}

.seat.occupied{
  background-color:white;
}

.seat.selected {
  background-color:#6feaf6;
}

.seat:not(.occupied):hover{
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover{
  cursor: default;
  transform: scale(1);
}

.showcase{
  background:rgba(0,0,0,0.1);
  padding:5px 10px;
  border-radius:5px;
  color:#777;
  list-style-type:none;
  display:flex;
  justify-content: space-between;
}

.showcase li{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:0 10px;
}

.showcase li small{
  margin-left:2px;
}

.row{
  display:flex;
}
